.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inv-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-top: 10%;
}

.inv-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px  ;
}

.inv-header {
  display: flex;
  justify-content: space-between;
  
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
  font-weight: 500;
  font-family: sans-serif;
}

.inv-info {
  display: flex;
  justify-content: space-between;
  margin-left: 9.5%;
  margin-right: 8%;
  
}

.inv-info-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}




